<mat-grid-list cols="5" rowHeight="1:1" >
    <mat-grid-tile-header class="text-center"> Макарунси</mat-grid-tile-header>
    
    <mat-grid-tile *ngFor="let imagePath of imagePaths; let i = index">
        <div class="image-container" (mouseenter)="isBlurred[i] = true" (mouseleave)="isBlurred[i] = false">
            <img [src]="imagePath" alt="Image {{ i + 1 }}" class="image" [ngClass]="{ 'blur': isBlurred[i] }">
            <div class="image-text">{{ textDescriptions[i] }}</div>
            <div class="image-text-click" *ngIf="isBlurred[i]">Та будь-який смак:</div>
          </div>
    </mat-grid-tile>

    <mat-grid-tile-footer class="gradient"> </mat-grid-tile-footer>
</mat-grid-list>


    
<div class="gradient"></div>
