<div class="component-container">
    <div class="text-center">
        <h1>Макарунси</h1>
    </div>
    <div class="image-container">
        <div class="image-row">
            <!-- Row 1 -->
            <img src="{{ macaroon1ImagePath }}" alt="Image 1" />
            <img src="{{ macaroon2ImagePath }}" alt="Image 2" />
            <img src="{{ macaroon3ImagePath }}" alt="Image 3" />
            <img src="{{ macaroon4ImagePath }}" alt="Image 4" />
            <img src="{{ macaroon5ImagePath }}" alt="Image 5" />
        </div>
        <div class="image-row">
            <!-- Row 2 -->
            <img src="{{ macaroon6ImagePath }}" alt="Image 6" />
            <img src="{{ macaroon7ImagePath }}" alt="Image 7" />
            <img src="{{ macaroon8ImagePath }}" alt="Image 8" />
            <img src="{{ macaroon9ImagePath }}" alt="Image 9" />
            <img src="{{ macaroon10ImagePath }}" alt="Image 10" />
        </div>
    </div>
</div>
