/* Style for the container */
.box-taste {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh; /* 100% of the viewport height */
    max-width: 100%;
    background: linear-gradient(180deg, #DBDBDB 0%, #E1E1E1 18%, #E6E6E6 35%, #E5E5E5 56%, #E1E1E1 79%, #DEDEDE 100%)
}

/* Style for the image inside image-wrapper */
.image-taste {
    flex: 1; /* Take up 50% of the container width */
    max-width: 50%; /* Take up 50% of the .box-taste width */
    height: 85vh; /* 100% of the viewport height */
}

/* Style for the taste-text */
.taste-text {
    flex: 1; /* Take up 50% of the container width */
    max-width: 50%; /* Take up 50% of the .box-taste width */
    overflow: hidden;
    padding-left: 10%;
}

/* Style for the headings */
.taste-text h1.bold {
    color: #272e81;
    font-family: "Century Gothic-Bold", Helvetica;
    font-size: 64px;
    font-weight: 700;
}

.taste-text h2 {
    color: #272e81;
    font-family: "Century Gothic-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
}


.box-taste button.submit-button {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #d189c7;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Century Gothic-Bold", Helvetica;
    font-size: 1rem;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 20px;
}
.submit-button{
    height: 65px; /* Adjust the value to control the roundness */
    max-height: 100%;
}