/* Style for the container */
.box-taste {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
    padding: 20px;
    max-width: 100%;
    overflow: hidden;
    background: linear-gradient(
180deg,
rgb(219, 219, 219) 0%,
rgb(225, 225, 225) 18.46%,
rgb(230, 230, 230) 34.96%,
rgb(229, 229, 229) 56.02%,
rgb(225, 225, 225) 79.23%,
rgb(222, 222, 222) 100%
);
}

/* Style for the image-wrapper */
.image-wrapper {
    flex: 1; /* Take up 50% of the container width */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%; /* Take up 50% of the .box-taste width */
    overflow: hidden;
}

/* Style for the taste-text */
.taste-text {
    flex: 1; /* Take up 50% of the container width */
    padding: 20px;
    font-family: "Century Gothic-Bold", Helvetica;
    color: #272e81;
    max-width: 50%; /* Take up 50% of the .box-taste width */
    overflow: hidden;
}

/* Style for the headings */
.taste-text h1.bold {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.taste-text h2 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 10px;
}

/* Style for the div-wrapper */
.taste-text .div-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.taste-text .text-wrapper-2 {
    padding: 10px 20px;
    background-color:rgba(209, 138, 199, 1);;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Century Gothic-Bold", Helvetica;
    font-size: 1rem;
}

/* Style for the image inside image-wrapper */
.image-taste {
    max-width: 100%;
    max-height: 100%;
}
