.wave{
    background-image: url(../../../../assets/waves.svg);
    max-width: 100%;
    /* Set an initial width */
    height: 40vh;
    background-size: cover; /* Adjust this property as needed */
    background-repeat: no-repeat;
}