
.box-contact-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
    padding: 20px;
    max-width: 100%;
    background-color: #d189c7;
  }
  
  .image-wrapper {
    flex: 1; /* Take up 50% of the container width */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%; /* Take up 50% of the .group width */
  }
  
  /* Style for the contact form */
  .contact-form {
    flex: 1; /* Take up 50% of the container width */

    max-width: 50%; /* Take up 50% of the .group width */
    padding-right: 10%;
    padding-left: 5%;
  }
  
  /* Style for the contact form headings */
  .contact-form h1.bold {
    color: #ffffff;
    font-family: "Century Gothic-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
  }
  
  .contact-form h2 {
    color: #ffffff;
    font-family: "Century Gothic-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
  }
  
  .contact-form input.subtitle {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid;
    font-family: "Century Gothic-Regular", Helvetica;
    font-size: 26px;
    background: none;
    border: 2px solid;
    color:  #ffffff ;
  }
  .contact-form input.subtitle::placeholder {
    color:  #ffffff; /* Set the placeholder text color to white */
  }
  
  /* Style for the contact form button */

  
  .contact-form button.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #272e81;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Century Gothic-Bold", Helvetica;
    font-size: 1rem;
  }
  
  button.submit-button:hover {
    background-color: #141b6b;
    box-shadow: 0px 4px 4px #00000040;
    }
  
  .image-contact-us {
    max-width: 100%;
    max-height: 100%;
  }
  