<div class="box-contact-us">
      <div class="image-wrapper">
        <img class="image-contact-us" src="{{ contactFormImagePath }}" alt="" />
      </div>

      <div class="contact-form">
        <h1 class="bold">Бажаєте зробити замовлення або отримати консультацію?</h1>
        
        <h2>Залиште ваші контакти</h2>
        
        <input class="subtitle" placeholder="Name" />
        <input class="subtitle" placeholder="Phone Number" />
        
 
        <button class="submit-button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
      </div>

  </div>
  