<div class="box-contact-us">
      <div class="image-wrapper">
        <img class="image-contact-us" src="{{ contactFormImagePath }}" alt="" />
      </div>

      <div class="contact-form">
        <h1 class="bold">Бажаєте зробити замовлення або отримати консультацію?</h1>
        
        <h2>Залиште ваші контакти</h2>
        
        <div class="form-container">

        <form class="example-form">
          <mat-form-field  appearance="outline" subscriptSizing="dynamic" class="example-full-width">
            <mat-label>Ім'я</mat-label>
            <input class="rounded-input" autocomplete="off"  type="name" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="emailFormControl.hasError('required')">
            <strong>Required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field  appearance="outline" subscriptSizing="dynamic" class="example-full-width">
            <mat-label >Номер телефону</mat-label>
            <input class="rounded-input" autocomplete="off" type="tel" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="nameFormControl.hasError('required')">
              <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </form>
          
        <button class="submit-button" mat-raised-button color="primary">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
        </div>
      
      </div>
  </div>
  