/* Style for the container */
.box-contact-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
    padding: 20px;
    max-width: 100%;
    overflow: hidden;
    background-color: #d189c7;
  }
  

  
  /* Style for the image-wrapper */
  .image-wrapper {
    flex: 1; /* Take up 50% of the container width */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%; /* Take up 50% of the .group width */
    overflow: hidden;
  }
  
  /* Style for the contact form */
  .contatct-form {
    flex: 1; /* Take up 50% of the container width */
    padding: 20px;
    font-family: "Century Gothic-Bold", Helvetica;
    color: #272e81;
    max-width: 50%; /* Take up 50% of the .group width */
    overflow: hidden;
  }
  
  /* Style for the contact form headings */
  .contatct-form h1.bold {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contatct-form h2 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 10px;
  }
  
  /* Style for the contact form inputs */
  .contatct-form input.subtitle {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #272e81;
    font-family: "Century Gothic-Regular", Helvetica;
    font-size: 1rem;
  }
  
  /* Style for the contact form button */
  .contatct-form .div-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contatct-form button.submit-button {
    padding: 10px 20px;
    background-color: #272e81;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Century Gothic-Bold", Helvetica;
    font-size: 1rem;
  }
  
  /* Style for the image inside image-wrapper */
  .image-contact-us {
    max-width: 100%;
    max-height: 100%;
  }
  