<div class="header-circle-container">
  <ng-container *ngIf="isDesktop; else mobile">
    <div #header class="header flex">
      <h2 class="noselect assort" (click)="scrollToCircleComponent()" i18n>
        Асортимент
      </h2>
      <h2 class="noselect" (click)="scrollToMacarunsComponent()" i18n>
        Макарунс
      </h2>
      <s class="spacer"></s>
      <h2 class="noselect" (click)="scrollToAboutUsComponent()" i18n>
        Про нас
      </h2>
      <h2 class="noselect" (click)="scrollToContactFromComponent()" i18n>
        Замовити
      </h2>
      <a [href]="'https://instagram.com/mari.bakery.wro?igshid=MzRlODBiNWFlZA=='">
        <img  class="instagram" src="{{ headerInstaImagePath }}" alt="" />
      </a>
      <h2 class="noselect">
        <div class="text-wrapper-4">🇺🇦</div>
      </h2>
    </div>
  </ng-container>
  <ng-template #mobile>

    <div class="menu-button"></div>
  </ng-template>
  <img #heart alt="" />

  <div className="box">
    <div class="centered-img">
      <img class="img-layout" alt="Group" src="{{ logoMainImagePath }}" />
    </div>
  </div>
  <img class="waves" src="../../../../assets/wave.svg" />
</div>
<div class="circle-animation-box" id="circle-component">
  
  <div class="cake-circle-container">

    <div class="pan"></div>
    <div class="cake-circle" [style.transform]="'rotate(' + rotationAngle + 'deg)'">
      <img
        class="cake-image"
        [src]="currentImagePath"
        [style.transform]="'rotate(' +  -rotationAngle * 3 + 'deg)'"
      />

  </div>
   
  </div>


  <div class="circle-animation-navigation">
    <!-- ToDo: change to mat tabs -->
    <div class="navigation-bar">
      <!--<img class="vector" alt="Vector" src="{{ vectorImagePath }}" />-->

      <div class="nav-bar-element" i18n>Торти</div>
      <div class="nav-bar-element" i18n>Чізкейки</div>
      <div class="nav-bar-element" i18n>Тістечка</div>
      <div class="nav-bar-element" i18n>Капкейки</div>
    </div>

    <div class="cake-info">
      <div class="cake-info-text">
        <h1 class="bold" i18n>Медовик</h1>
        <span i18n>
          Ніжні медові коржі у поєднанні із заварним кремом. <br />
          <br />
          Виконується на будь-який смак: класичний, фісташковий, з чорносливом,
          шоколадний
          <br />
          <br />80zł/kg
        </span>
      </div>

      <div class="rotation-elemnts">
        <img
          class="arrow-right"
          src="{{ arrowRImagePath }}"
          (click)="onArrowRightClick()"
        />
        <img
          class="arrow-left"
          src="{{ arrowLImagePath }}"
          (click)="onArrowLeftClick()"
        />
      </div>
    </div>
    <img
      class="all-galery-button"
      src="{{ galeryImagePath }}"
      [routerLink]="'/assortment'"
    />
  </div>
</div>
