/* Style for the container */
.box-about-us {
    display: flex;
    flex-direction: column;
    flex-direction: row; /* Arrange elements side by side */
    min-height: 100vh;
    align-items: center;
    background-color: #f2f0f0;
    padding: 20px;
}

/* Style for the about-us section */
.box-about-us .about-us {
    display: flex;

    width: 100%;
    max-width: 100%;

    padding: 20px;
    box-sizing: border-box;
}

/* Style for the about-us-text */
.box-about-us .about-us-text {
    flex: 1; /* Occupy 50% of the available width */
    text-align: left;
    padding: 0 20px;
    font-family: "Century Gothic-Bold", Helvetica;
    color: #272e81;
}

/* Style for the circle container */
.box-about-us .image-about-us .circle {
    flex: 1; /* Occupy 50% of the available width */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Vertically center elements */
    align-items: center; /* Horizontally center elements */
    overflow: hidden; /* Hide overflow content */
    background-color: #fff; /* Set the background color for the circle */
    border-radius: 50%; /* Make it a circle */
    position: relative;
}

/* Style for the circle image */
.box-about-us .image-about-us .circle img.circle-image {
    max-width: 100%; /* Set the maximum width to fit the circle */
    max-height: 100%; /* Set the maximum height to fit the circle */
    border-radius: 50%; /* Make it a circle */
    display: block; /* Display inside the circle */
}

/* Style for the image inside the circle */
.box-about-us .image-about-us .image-inside-circle {
    max-width: 100%; /* Set the maximum width to fit the circle */
    max-height: 100%; /* Set the maximum height to fit the circle */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
