<div class="box-about-us">
      <div class="about-us-text">
        <h1 class="bold">Сімейна кондитерська</h1>
        <h2>Mari Bakery - це подорож в світ десертів, над якою особисто чаклує Марина Барінова, майстриня кондитерського мистецтва з 10-річним досвідом.</h2>
        
        <div class="h2-bold">
          <img class="quote" src="{{ aboutUsImagePath }}" />
            <div class="text-container">
              <h2 class="bold">Наше кредо: свіжі продукти, перевірені рецепти, і найважливіше - індивідуальний підхід до кожного замовлення.
              </h2>
              </div>
         </div>
        <h2>Ми вкладаємо натхнення та досвід у виготовлення кожного десерту. Від узгодження замовлення до підбору ідеальних інгредієнтів та найкрасивішого декору - усе для того, щоб втілити будь-які солодкі фантазії.</h2>
        <div class="h2 welcome">
          <div class="text-container">
              <h2>Ласкаво запрошуємо до Mari Bakery, де солодощі створюються з любов'ю та майстерністю.</h2>
          </div>
          <img class="vector" src="{{ aboutUsHeartImagePath }}" />
      </div>
      </div>
      
      <div class="image-about-us">
            <img class="image-inside-circle" src="{{ aboutUsStrangeMomImagePath }}"/>
      </div>
</div>