/* Style for the container */
.box-about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
    padding: 20px;
    max-width: 100%;
    overflow: hidden;
    background-color: #f2f0f0;
}
.image-about-us{
    flex: 1; /* Take up 50% of the container width */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%; /* Take up 50% of the .group width */
    overflow: hidden;
    background-image:  url(../../../../assets/about-us-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; 
    padding-left:10%;
    padding-right:10%;
}
.image-inside-circle {
    max-width: 100%; /* Make the image responsive within its container */
    height: auto; /* Maintain the image's aspect ratio */
  }
/* Style for the about-us-text */
.about-us-text {
    flex: 1; /* Occupy 50% of the available width */
    text-align: left;
    padding:10% 10% 10% 10%;
}

.about-us-text h1.bold{
    color: #272e81;
    font-family: "Century Gothic-Bold", Helvetica;
    font-size: 60px;
    font-weight: 700;
    
}
.about-us-text h2{
    color: #272e81;
    font-family: "Century Gothic-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;  
}

.about-us-text h2.bold{
    color: #272e81;
    font-family: "Century Gothic-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700; 
}
.h2.welcome {
    display: flex;
    align-items: center;
}

.text-container {
    flex: 1;
}

.h2-bold {
    display: flex;
    align-items: center;
}

.h2-bold .text-container{
    padding-left: 5%;
}

@media screen and (max-device-width: 390px) {
    .box-about-us{
        flex-direction: column;
        
    }
    .image-inside-circle{
        margin-left: 20px;
        height: 80%;
        width: 500px;
        max-width: fit-content;
    }
  }
  