
    <div class="calendar-container">   
        <div class="text-top">   
            <h1  i18n>Як зробити замовлення</h1>

        </div>

        
        <mat-grid-list cols="4" rowHeight="1:1" [gutterSize]="'25px'">
            <mat-grid-tile><img src="{{ calendar1ImagePath }}" alt="Image 1" /></mat-grid-tile>
            <mat-grid-tile><img src="{{ calendar2ImagePath }}" alt="Image 2" /></mat-grid-tile>
            <mat-grid-tile><img src="{{ calendar3ImagePath }}" alt="Image 3" /></mat-grid-tile>
            <mat-grid-tile><img src="{{ calendar4ImagePath }}" alt="Image 4" /></mat-grid-tile>
          </mat-grid-list>
             

         <div class="text-bot">
            <h2  i18n>Ми з радістю проконсультуємо вас щодо замовлення та втілимо найсміливіші фантазії</h2>

         </div> 

    </div>
