.calendar-container {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    align-items: center; /* Center elements horizontally */
    text-align: center; /* Center text horizontally */
    background-color: #3a42a2;
}

h1 {
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Century Gothic-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}
h2 {
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Century Gothic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
}

.image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; /* Allow images to wrap to the next row */
    justify-content: center; /* Center the rows horizontally */
    gap: 60px; /* Adjust the gap between images */
    max-width: 100%; /* Allow the row to take up the full width of the container */
    box-sizing: border-box; /* Include padding in the max width calculation */
}
.image-row img {
    max-width: 5px 1%;
    max-height: 5px 1%;
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
}