<div class="calendar-container">
    
    <div class="text-top">
        <h1>Як зробити замовлення</h1>
    </div>
    
    <div class="image-container">
        <div class="image-row">
            <img src="{{ calendar1ImagePath }}" alt="Image 1" />
            <img src="{{ calendar2ImagePath }}" alt="Image 2" />
            <img src="{{ calendar3ImagePath }}" alt="Image 3" />
            <img src="{{ calendar4ImagePath }}" alt="Image 4" />
        </div>
    </div>
    
    <div class="text-bot">
        <h2>Ми з радістю проконсультуємо вас щодо замовлення та втілимо найсміливіші фантазії</h2>
    </div>
</div>
