
.header {
    height: 6%;
    background-color: transparent;
    color: #272e81;
    font-size: 24px;
    font-family: "Century Gothic-Regular", Helvetica;
    h2 {
        font-weight: 400;
        margin-right: auto;
        margin-left: 1.5rem;
        align-self: center;
        padding: 0rem 1rem;
        cursor: pointer;
        &:hover{
            font-weight: 700;
        }
        &.start {
            margin-right: auto;
            margin-left: 1.5rem;
            align-self: center;
            padding: 0rem 1rem;
        }
        &.end {
            padding: 0.8rem 1rem;
            transition: 0.1s;
          }
        
    }
  }
 
.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-end;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
}  

.assort{
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}
  