.footer {
  background-color: #272e81;
  color: #ffffff;
  text-align: center;
  margin-top: auto;
}

.mail-footer,
.phone-number-footer {
  font-family: "Century Gothic-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 28px;
  line-height: normal;
  flex: 1; /* Allow them to grow and occupy equal space */
  text-align: center; /* Center text content */
  overflow: hidden; /* Hide overflow content if necessary */
  white-space: nowrap; /* Prevent text from wrapping */
}

img {
  max-width: 100%;
}

.footer-mobile{
  display: none;
}

@media screen and (max-device-width: 420px) {

  .footer{
    display: none;
  }

  .footer-mobile{
    position: relative;
    display: block;
    background-color: #272e81;
    color: #ffffff;
    text-align: center;
    margin-top: auto;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  img{
      width: 80%;
  }
  .numbers,
  .social{
    font-family: "Century Gothic-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 28px;
    line-height: normal;
    flex: 1; /* Allow them to grow and occupy equal space */
    overflow: hidden; /* Hide overflow content if necessary */
    white-space: nowrap; /* Prevent text from wrapping */
  }

  .numbers{
    padding-right: 40px;
    text-align: right;
  }
  .social{
    padding-left: 40px;
    text-align: left;
  }

  .line {
    position: absolute;
    top: 50%; /* Position at the vertical center */
    transform: translateY(-50%); /* Adjust for the line's height */
    width: 100%; /* Line spans the full width */
    height: 2px; /* Adjust the line thickness as needed */
    background-color: white; /* Set the line's color */
  }

  .social a{
    color: white;
  }
}


