<div class="navbar-header">

    <div  class="text-center"> Весь асортимент</div>

    <button [routerLink]="'/mainpage'" class="circle-button">
            
    </button>

<div class="header flex">

    <h2 class="noselect">Торти</h2>
    <h2 class="noselect">Чізкейки</h2>
    <h2 class="noselect">Тістечка</h2> 
    <h2 class="noselect">Капкейки</h2>

</div>
</div>
<div class="assortment-container">  




    <mat-grid-list cols="2" rowHeight="2:1"  [gutterSize]="'25px'" class="list">        
        <mat-grid-tile *ngFor="let imagePath of imagePaths; let i = index">
            <div class="image-container">
                <img [src]="currentImage === i ? defaultImagePath :imagePath " alt="Image {{ i + 1 }}" class="image" (mouseover)="changeImage(i)" (mouseout)="resetImage()">
                <div class="image-text">
                    <div class="image-text-name">{{ textName[i] }}</div>
                    <div class="image-text-description">{{ textDescriptions[i] }}</div>
                    <div class="image-text-price">{{ textPrice[i] }}</div>
                </div>

            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="button-div">
        <button class="submit-button" [routerLink]="'/mainpage'">НА ГОЛОВНУ</button>
    
    </div>
</div>

<app-footer></app-footer>