<div class="navbar-header">

    <div  class="text-center"  i18n> Весь асортимент</div>

    <button [routerLink]="'/mainpage'" class="circle-button">
            
    </button>

<div class="header flex">

    <h2 class="noselect"  i18n>Торти</h2>
    <h2 class="noselect"  i18n>Чізкейки</h2>
    <h2 class="noselect"  i18n>Тістечка</h2> 
    <h2 class="noselect"  i18n>Капкейки</h2>

</div>
</div>
<div class="assortment-container">  




    <mat-grid-list cols="2" rowHeight="2:1"  [gutterSize]="'25px'" class="list">        
        <mat-grid-tile *ngFor="let imagePath of imagePaths; let i = index">
            <div class="image-container">
                <img [src]="currentImage === i ? defaultImagePath :imagePath " alt="Image {{ i + 1 }}" class="image" (mouseover)="changeImage(i)" (mouseout)="resetImage()">
                <div class="image-text">
                    <div class="image-text-name" i18n>{{ textName[i] }}</div>
                    <div class="image-text-description" i18n>{{ textDescriptions[i] }}</div>
                    <div class="image-text-price" i18n>{{ textPrice[i] }}</div>
                </div>

            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="2:1"  [gutterSize]="'15px'" class="mobile">        
        <mat-grid-tile *ngFor="let imagePath of imagePaths; let i = index">
            <div class="image-container">
                <img [src]="currentImage === i ? defaultImagePath :imagePath " alt="Image {{ i + 1 }}" class="image" (mouseover)="changeImage(i)" (mouseout)="resetImage()">
                <div class="image-text">
                    <div class="image-text-name" i18n>{{ textName[i] }}</div>
                    <div class="image-text-description" i18n>{{ textDescriptions[i] }}</div>
                    <div class="image-text-price" i18n>{{ textPrice[i] }}</div>
                </div>

            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="button-div">
        <button class="submit-button" [routerLink]="'/mainpage'" i18n>НА ГОЛОВНУ</button>
    
    </div>
</div>

<app-footer></app-footer>