<div class="frame">
    <div class="div">
      <div class="group-2">
        <div class="text-wrapper-2">Медовик</div>
        <p class="p">
          Ніжні медові коржі у поєднанні із заварним кремом.
          <br />
          <br />
          Виконується на будь-який смак: класичний, фісташковий, з чорносливом, шоколадний
        </p>
      </div>
      <img class="arrow-left"  src="{{ arrowLImagePath }}" (click)="onArrowLeftClick()"/>
      <img class="arrow-right" src="{{ arrowRImagePath }}" (click)="onArrowRightClick()"/>
      <div class="group-3">
        <img class="vector" alt="Vector" src="{{ vectorImagePath }}" />
        <div class="div-2">
          <div class="text-wrapper-3">Торти</div>
          <div class="text-wrapper-4">Чізкейки</div>
          <div class="text-wrapper-4">Тістечка</div>
          <div class="text-wrapper-4">Капкейки</div>
        </div>
      </div>
    </div>
    <div class="group-4">
      <div class="overlap-group">
        <div class="ellipse">
        </div>

        <img class="asr-mocha-hazelnut" [src]="currentImagePath" />
    </div>
    </div>
    <div class="text-wrapper-5">80 zl/кг</div>
    <img class="all-galery-button" src="{{ galeryImagePath }}"/>
  </div>
  