.frame {
    background-color: rgba(209, 138, 199, 1);
    display: flex; /* Use flex display to arrange children */
    flex-direction: column; /* Arrange children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    height: 1457px;
    overflow: hidden;
    position: relative;
    width: 1920px;
}

.frame .div {
    height: 452px;
    left: 975px;
    position: absolute;
    top: 739px;
    width: 770px;
}

.frame .group-2 {
    height: 303px;
    left: 0;
    position: absolute;
    top: 149px;
    width: 505px;
}

.frame .text-wrapper-2 {
    color: rgba(255, 255, 255, 1);
    font-family: "Century Gothic-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    height: 61px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 0;
    width: 334px;
}

.frame .p {
    color: #ffffff;
    font-family: "Century Gothic-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 81px;
    width: 501px;
}

.frame .arrow-left {
    height: 70px !important;
    left: 700px !important;
    position: absolute !important;
    top: 149px !important;
    width: 70px !important;
}

.frame .arrow-right {
    height: 70px !important;
    left: 610px !important;
    position: absolute !important;
    top: 149px !important;
    width: 70px !important;
}

.frame .group-3 {
    height: 59px;
    left: 0;
    position: absolute;
    top: 0;
    width: 712px;
}

.frame .vector {
    height: 12px;
    left: 39px;
    position: absolute;
    top: 47px;
    width: 15px;
}

.frame .div-2 {
    align-items: flex-start;
    display: inline-flex;
    gap: 70px;
    left: 0;
    position: absolute;
    top: 0;
}

.frame .text-wrapper-3 {
    color: #ffffff;
    font-family: "Century Gothic-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.frame .text-wrapper-4 {
    color: #ffffff;
    font-family: "Century Gothic-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.frame .group-4 {
    height: 1873px;
    left: -937px;
    position: absolute;
    top: 521px;
    width: 1873px;
}

.frame .overlap-group {
    height: 1579px;
    left: 321px;
    position: absolute;
    top: 0;
    width: 1552px;
}

.frame .ellipse {
    background-color: #dea6d6;
    border-radius: 675.71px;
    height: 1351px;
    left: 0;
    position: absolute;
    top: 227px;
    width: 1351px;
}

.frame .asr-mocha-hazelnut {
    height: 936px;
    left: 616px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 936px;
}

.frame .img {
    height: 936px;
    left: 944px;
    object-fit: cover;
    position: absolute;
    top: 6229px;
    width: 936px;
}

.frame .asr-mocha-hazelnut-2 {
    height: 936px;
    left: 944px;
    object-fit: cover;
    position: absolute;
    top: 5293px;
    width: 936px;
}

.frame .asr-mocha-hazelnut-3 {
    height: 936px;
    left: 2817px;
    object-fit: cover;
    position: absolute;
    top: 7166px;
    width: 936px;
}

.frame .text-wrapper-5 {
    color: #ffffff;
    font-family: "Century Gothic-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 975px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1210px;
    width: 129px;
}

.frame .all-galery-button {
    left: 1487px !important;
    position: absolute !important;
    top: 1302px !important;
}
